/*navigation.scss*/
.navbar{
  padding: 0;
  margin: 0;
  li{

  }
  a, strong{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-accent);
  }
  strong, a:hover{
    color: var(--color-accent-hover);
    font-weight: normal;
  }
}

