//@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat|Noto+Serif');

//Pfade
$image-path:       "../img/";
$font-path:        "../fonts";
$fa-font-path:     "../webfonts";

//Color
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --color-accent-hover:#66CCCC;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}