//Grund Grid
.grid-container {
  margin: 0 auto;
  display: block;

  /*grid-template-areas:

  "header"
  "menu"
  "main"
  "aside-l"
  "aside-r"
  "footer"
  ;*/
  @include media-breakpoint-up(sm){
    display: grid;
    grid-auto-columns: auto;
    //max-width: 560px;
    gap: 1em;
    grid-template-areas:
    "header header"
    "menu main"
    "aside-l main"
    "aside-r main"
    "footer footer"
  ;

  }
  @include media-breakpoint-up(lg){
    max-width: 1400px;
    grid-template-areas:
    "header header header"
    ". menu menu menu"
    ". aside-l main aside-r"
    ". footer footer footer"
  ;
  }
}
//Gridareas
  header {
    .inside{
      display: block;
      padding: 1rem 0;
      @include media-breakpoint-up(sm){
        display: grid;
        grid-template-rows: subgrid;
        gap: 0;
        grid-template-areas: "logo slogen menu";
      }
    }
    grid-area: header; }
  .custom { grid-area: menu;width: 200px }
  #left { grid-area: aside-l; }
  main { grid-area: main; }
  #right { grid-area: aside-r; }
  footer { grid-area: aside-r; }
  .logo { grid-area: logo;}
  .menu { grid-area: menu; }
  .search { grid-area: slogan; }

//Spalten Teaser Startseite

.major {
  display: block;
  @include media-breakpoint-up(lg) {
    display: grid;
    gap:1rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30%;
    .ce_headline{grid-area: 1 / 1 / 2 / 3;}
  }
}
