html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  color: var(--font-color);
  background: var(--color-secondary);
}

h1, h2 {
  color: var(--font-color);
}
button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
}